<nb-card>
    <nb-card-header>Cloud Services</nb-card-header>
    <nb-card-body>
        <div class="card-row">
            <nb-card *ngFor="let opt of cloudServices" class="option-card" (click)="selectSvc(opt)">
                <nb-card-body>
                    <h2>{{ opt.acronym }}</h2>
                    <span>{{ opt.fullName }}</span>
                </nb-card-body>
            </nb-card>
        </div>
    </nb-card-body>
</nb-card>

<nb-card *ngIf="selectedCloudService as svc">
    <nb-card-header>{{ svc.acronym }}</nb-card-header>
    <nb-card-body>
        <input type="number" nbInput placeholder="Number of instances">
    </nb-card-body>
</nb-card>